@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply min-h-screen font-inter overflow-x-hidden;
  }

.banner-section{
  position: relative;
  overflow: hidden;
}
.banner-section::before{
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: linear-gradient( rgba(218, 68, 83, 0.507), rgba(218, 68, 83, 0.486),#89216B);
border-radius: 0 0 50% 50%/0 0 100% 100%;
transform: scaleX(1.5);
}
.banner-section>div{
  z-index: 1;
  position: relative;
}
.swiper-pagination-bullet{
  border-radius: 25% !important;
  width: 2rem !important;

}
  
.swiper-pagination-bullet-active{
  background-color: #DA4453 !important;
}

  .StripeElement,
.StripeElementIdeal,
.StripeElementP24,
.StripeElementEPS,
.StripeElementFpx {
  display: block;
  margin: 10px 0 20px 0;
  max-width: 500px;
  padding: 10px 14px;
  box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px,
    rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  border-radius: 4px;
  background: white;
}

.StripeElement--focus,
.StripeElementIdeal--focus,
.StripeElementP24--focus,
.StripeElementEPS--focus,
.StripeElementFpx--focus {
  box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px,
    rgba(0, 0, 0, 0.0784314) 0px 1px 3px;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}

.StripeElement.loading {
  height: 41.6px;
  opacity: 0.6;
}

.StripeElementIdeal,
.StripeElementP24,
.StripeElementEPS,
.StripeElementFpx {
  padding: 0;
}